{% extends 'base.html'%}


{% block content%}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
      <div class = "container"> 
    <div class="row">
            
        {% for pitch in pitches %}
        <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Category: {{ pitch.category }}</h4></div>
                        <div class ="panel-body">
                            <p> {{ pitch.title }}</p>
                            <p>{{ pitch.content }} </p>
                            </div>
                        </div>
                    </div>
         {% endfor %}
        
    </div>
</div>
    </body>
</html>
{% endblock content%}