{% extends 'base.html'%}


{% block content%}

<div class="container" style="padding-top:70px;">

    <h4>Do you want to add a pitch:<p><a href="/pitch/new">Add a pitch</a></p>
    </h4>
    <div class="row">

        {% for pitch in pitches %}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Category: {{ pitch.category }}</h4>
                </div>
                <div class="panel-body">
                    <p> {{ pitch.title }}</p>
                    <p>{{ pitch.content }} </p>
                    <p>{{ pitch.date_of_pitch }}</p>
                    <div class="panel-footer">Add a comment <a href="/pitch/{{pitch.id}}">Here</a></div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock content%}